body{
  font-size: 16px;
  font-family: $nssans, Tahoma, sans-serif;
  color: #060922;
}

h1, h2{
  color: $mainblue;
}

h1{
  font-size: 1.8rem;
  margin-bottom: 0.9rem;
}
h2{
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

p{
  line-height: 1.1rem;
  margin-bottom: 0.9rem;
}

input{
  font-family: $nssans, Tahoma, sans-serif;
}

.btn{
  display: inline-block;
  min-width: 190px;
  height: 45px;
  background-color: $buttonblue;
  padding: .625rem 1.125rem;
  border: none;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-family: $nssans, Tahoma, sans-serif;
  line-height: calc(35px - .625rem);
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0 -.125rem 0 $blue;
  @include transition(box-shadow 0.15s ease);
  span, div{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @include transition(transform 0.15s ease);
    @include transform(rotate(-45deg));
    @include transform-origin(8px 8px);
  }
  &:hover{
    box-shadow: inset 0 -3.125rem 0 #005ca0;
  }
  &.open{
    span, div{
      @include transform(rotate(45deg));
    }
  }
}

.yellowbtn{
  background-color: $yellowdarker;
  box-shadow: 0 -.125rem 0 $yellowhover inset;
  &:hover{
    background-color: $yellowhover;
    box-shadow: none;
  }
}

.arrowLink{
  color: $linkblue;
  font-family: $nssans, Tahoma, sans-serif;
  text-decoration: none;
  position: relative;
  padding-left: 1.875em;
  top: 1px;
  display: inline-block;
  @include transition(all 0.15s ease);
  &::before{
    content: "";
    display: block;
    position:absolute;
    left: 0;
    width: 10px;
    height: 10px;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    @include transform(rotate(-45deg) translateX(0rem));
    @include transition(all 0.15s ease-in-out);
  }
  &:hover{
    color: $mainblue;
    &::before{
      @include transform(rotate(-45deg) translate(0.4rem, 0.4rem));
    }
  }
}

.container{
  @media (min-width: 40em){
    max-width: 70%;
    padding: 1.125rem 15%;
    box-sizing: content-box;
  }
  @media (min-width: 60em){
    max-width: 60%;
    padding: 1.125rem 20%;
    box-sizing: content-box;
  }
  @media (min-width: 75em){
    max-width: 50%;
    padding: 1.125rem 25%;
  }
}
