html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'NSSans';
  src: url("fonts/NSSans.eot?#iefix") format("embedded-opentype"), url("fonts/NSSans.woff") format("woff"), url("fonts/NSSans.ttf") format("truetype"), url("fonts/NSSans.svg#NSSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NSSans-Bold';
  src: url("fonts/NSSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/NSSans-Bold.woff") format("woff"), url("fonts/NSSans-Bold.ttf") format("truetype"), url("fonts/NSSans-Bold.svg#NSSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 16px;
  font-family: "NSSans", Tahoma, sans-serif;
  color: #060922; }

h1, h2 {
  color: #003082; }

h1 {
  font-size: 1.8rem;
  margin-bottom: 0.9rem; }

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem; }

p {
  line-height: 1.1rem;
  margin-bottom: 0.9rem; }

input {
  font-family: "NSSans", Tahoma, sans-serif; }

.btn {
  display: inline-block;
  min-width: 190px;
  height: 45px;
  background-color: #0079d3;
  padding: .625rem 1.125rem;
  border: none;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-family: "NSSans", Tahoma, sans-serif;
  line-height: calc(35px - .625rem);
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0 -0.125rem 0 #005ca1;
  -webkit-transition: box-shadow 0.15s ease;
  -moz-transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease; }
  .btn span, .btn div {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transition: -webkit-transform 0.15s ease;
    -moz-transition: -moz-transform 0.15s ease;
    transition: transform 0.15s ease;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px 8px;
    -moz-transform-origin: 8px 8px;
    -ms-transform-origin: 8px 8px;
    -o-transform-origin: 8px 8px;
    transform-origin: 8px 8px; }
  .btn:hover {
    box-shadow: inset 0 -3.125rem 0 #005ca0; }
  .btn.open span, .btn.open div {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.yellowbtn {
  background-color: #e6b517;
  box-shadow: 0 -0.125rem 0 #cfa317 inset; }
  .yellowbtn:hover {
    background-color: #cfa317;
    box-shadow: none; }

.arrowLink {
  color: #2d77bd;
  font-family: "NSSans", Tahoma, sans-serif;
  text-decoration: none;
  position: relative;
  padding-left: 1.875em;
  top: 1px;
  display: inline-block;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .arrowLink::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    -webkit-transform: rotate(-45deg) translateX(0rem);
    -moz-transform: rotate(-45deg) translateX(0rem);
    -ms-transform: rotate(-45deg) translateX(0rem);
    -o-transform: rotate(-45deg) translateX(0rem);
    transform: rotate(-45deg) translateX(0rem);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .arrowLink:hover {
    color: #003082; }
    .arrowLink:hover::before {
      -webkit-transform: rotate(-45deg) translate(0.4rem, 0.4rem);
      -moz-transform: rotate(-45deg) translate(0.4rem, 0.4rem);
      -ms-transform: rotate(-45deg) translate(0.4rem, 0.4rem);
      -o-transform: rotate(-45deg) translate(0.4rem, 0.4rem);
      transform: rotate(-45deg) translate(0.4rem, 0.4rem); }

@media (min-width: 40em) {
  .container {
    max-width: 70%;
    padding: 1.125rem 15%;
    box-sizing: content-box; } }
@media (min-width: 60em) {
  .container {
    max-width: 60%;
    padding: 1.125rem 20%;
    box-sizing: content-box; } }
@media (min-width: 75em) {
  .container {
    max-width: 50%;
    padding: 1.125rem 25%; } }

header {
  background-color: #fff;
  box-shadow: inset 0 -2px 0 0 rgba(7, 7, 33, 0.15);
  padding: 1.125rem .875rem 1.0625rem;
  font-size: 0;
  position: relative; }
  header h1 {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top; }
    @media (min-width: 40em) {
      header h1 {
        line-height: 45px;
        margin-bottom: .5em; } }
    header h1 a {
      color: #003082;
      text-decoration: none; }
  @media (min-width: 40em) {
    header > div {
      float: right; } }
  header > div input {
    width: calc(100% - 105px);
    height: 45px;
    border: none;
    border-bottom: 1px solid #003082;
    box-sizing: border-box;
    vertical-align: top;
    padding: .8625rem .875rem;
    margin-bottom: .5em;
    color: #003082;
    font-size: .7rem; }
    header > div input::-webkit-input-placeholder {
      font-size: .7rem;
      color: #6a6a7a; }
    header > div input::-moz-placeholder {
      font-size: .7rem;
      color: #6a6a7a; }
    header > div input:-moz-placeholder {
      font-size: .7rem;
      color: #6a6a7a; }
    header > div input:-ms-input-placeholder {
      font-size: .7rem;
      color: #6a6a7a; }
    header > div input:focus {
      outline: none; }
    @media (min-width: 40em) {
      header > div input {
        width: 130px; } }
    @media (min-width: 50em) {
      header > div input {
        width: 180px; } }
  header > div button, header > div a {
    display: inline-block;
    width: 50px;
    height: 45px;
    background: none;
    border: none;
    border-bottom: 1px solid #003082;
    box-sizing: border-box;
    padding: .5rem;
    cursor: pointer; }
    header > div button svg path, header > div a svg path {
      fill: #003082; }
  header > div a {
    margin-left: 5px; }
  header aside {
    position: relative; }
    header aside .orientation {
      display: none;
      position: absolute;
      margin-top: 2px; }
      @media (min-width: 50em) {
        header aside .orientation {
          display: inline-block;
          z-index: 1; } }
      header aside .orientation button {
        width: 50px;
        height: 40px;
        background: none;
        border: none;
        padding: 0;
        vertical-align: top;
        cursor: pointer; }
        header aside .orientation button.active span {
          background: #e6e6e9; }
        header aside .orientation button:focus {
          outline: none; }
        header aside .orientation button:first-child {
          padding-right: 10px;
          border-right: 1.2px solid #003082; }
          header aside .orientation button:first-child span {
            width: 100%;
            display: block;
            height: calc(50% - 2.5px);
            border: 1.2px solid #003082;
            margin-bottom: 5px;
            box-sizing: border-box; }
        header aside .orientation button:last-child {
          margin-left: 10px; }
          header aside .orientation button:last-child span {
            width: calc(50% - 2.5px);
            height: calc(50% - 2.5px);
            border: 1.2px solid #003082;
            margin-bottom: 5px;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top; }
            header aside .orientation button:last-child span:nth-child(2n + 1) {
              margin-right: 5px; }
    header aside section {
      position: relative; }
      @media (min-width: 40em) {
        header aside section {
          display: flex;
          justify-content: flex-end; } }
      header aside section > button {
        width: 100%; }
        @media (min-width: 50em) {
          header aside section > button {
            width: 17.8125em; } }
      header aside section > ul {
        font-size: 1rem;
        display: none;
        position: absolute;
        z-index: 1;
        top: calc(100% + 1.6825rem);
        width: 100%;
        box-sizing: border-box;
        padding: 2rem;
        background: #fff;
        box-shadow: 0 2px 0 0 rgba(7, 7, 33, 0.15), 0 5px 25px 0 rgba(7, 7, 32, 0.15); }
        header aside section > ul.open {
          display: block; }
        @media (min-width: 40em) {
          header aside section > ul {
            width: 15.9375em; } }
        header aside section > ul::before {
          content: "";
          display: block;
          position: absolute;
          top: -10px;
          left: 50%;
          border-style: solid;
          border-width: 0 .375rem .625rem;
          border-color: transparent transparent #fff;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }
        header aside section > ul > li {
          margin-top: 0.625em;
          width: 100%; }
          header aside section > ul > li.open {
            height: auto; }
            header aside section > ul > li.open ul {
              display: block;
              margin-left: .6em;
              margin-top: .6em;
              cursor: initial; }
              header aside section > ul > li.open ul label {
                display: block; }
          header aside section > ul > li ul {
            display: none; }

main {
  width: 100%;
  box-sizing: border-box;
  padding: 1.125rem .875rem 1.0625rem;
  background: #e6e6e9; }
  @media (min-width: 50em) {
    main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start; } }
  @media (min-width: 50em) {
    main.full {
      display: block;
      font-size: 1.2rem; }
      main.full article {
        display: block;
        width: 100%;
        margin-bottom: 3em;
        height: 100% !important; } }
  main article {
    padding: 2em;
    box-shadow: 0 2px 0 0 rgba(7, 7, 33, 0.15);
    background-color: #fff;
    margin-bottom: .875em;
    position: relative; }
    @media (max-width: 50em) {
      main article {
        height: 100% !important; } }
    @media (min-width: 50em) {
      main article {
        width: 47.5%;
        margin-bottom: 1.5em;
        box-sizing: border-box;
        height: auto; } }
    main article h2 {
      font-size: 1.6em;
      margin-bottom: 0.8em; }
    main article p {
      line-height: 1.4em; }
    main article small {
      font-size: .75em;
      display: block;
      margin-bottom: 2em; }
      main article small a.arrowLink {
        display: inline-block; }
        main article small a.arrowLink::before {
          width: 0.425em;
          height: 0.425em; }
    main article::after {
      content: "";
      display: block;
      clear: both; }
    main article .like {
      background: #ffc917;
      position: absolute;
      right: 2rem;
      top: calc(-.875rem / 2);
      border: none;
      padding: 1.5rem;
      cursor: pointer;
      font-size: 0; }
      main article .like span {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: .6rem;
        -webkit-transform: translate(calc(-50% + 15px), calc(-50% - 15px));
        -moz-transform: translate(calc(-50% + 15px), calc(-50% - 15px));
        -ms-transform: translate(calc(-50% + 15px), calc(-50% - 15px));
        -o-transform: translate(calc(-50% + 15px), calc(-50% - 15px));
        transform: translate(calc(-50% + 15px), calc(-50% - 15px)); }
      main article .like:focus {
        outline: none; }
    main article svg {
      width: 20px;
      height: auto;
      position: relative;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: -webkit-transform 0.15s ease;
      -moz-transition: -moz-transform 0.15s ease;
      transition: transform 0.15s ease; }
      main article svg.big {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2); }

.login fieldset {
  position: relative; }
.login section {
  padding: 2em;
  box-shadow: 0 2px 0 0 rgba(7, 7, 33, 0.15);
  background-color: #fff;
  margin-bottom: .875em;
  width: 100%;
  box-sizing: border-box; }
  .login section form {
    color: #003082; }
    .login section form:last-child {
      display: none; }
    .login section form legend {
      font-size: 1.5em;
      line-height: 1.9em;
      margin-bottom: 1em; }
    .login section form label {
      display: block;
      width: 100%;
      margin-top: 1em; }
      .login section form label input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        color: #003082;
        border-color: currentColor;
        border-style: inset;
        font-size: 1em;
        margin-top: 5px;
        padding: 0.6875em 0.9375em 0.5625em 0.9375em; }
    .login section form input[type="submit"], .login section form a, .login section form button {
      margin-top: 1em;
      display: block; }
    .login section form button {
      background: none;
      border: none;
      font-size: 1em;
      cursor: pointer; }

input.btn + div {
  width: 10px;
  height: 10px;
  position: relative;
  top: -33px;
  left: 45px;
  display: inline-block;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition: -webkit-transform 0.15s ease;
  -moz-transition: -moz-transform 0.15s ease;
  transition: transform 0.15s ease;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 8px 8px;
  -moz-transform-origin: 8px 8px;
  -ms-transform-origin: 8px 8px;
  -o-transform-origin: 8px 8px;
  transform-origin: 8px 8px; }
input.btn.open + div {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

footer {
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  color: #6a6a7a; }
  footer h1 {
    margin-bottom: 0;
    display: inline-block; }
    footer h1 a {
      color: #003082;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
